span {
  font-family: Arial, serif;
  font-size: large;
  /*font-size: medium;*/
  color: white;
}


.LogViewScrollBox {
  width: 72vw;
  height: 92vh;
  margin-right: auto;
  margin-left: auto;
  background-color: black;

}

button {
  float: right;
  /*background-color: lightgrey;*/

}

#closeButton {
}

#closeButton:hover {
  color: red;
}


