body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-color: #F6F6F8;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  position: absolute;
  background-position:center;
  background-size:cover;
}

.bg-1 {
  background-color: #F6F6F8;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  background-size: cover;
}

.bg-2 {
  background-color: #F6F6F8;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 200%;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  background-size: cover;
}

.header {
  background-color: transparent;
  height: fit-content;
  z-index: 1;
  position: relative;
  margin: 0 0 1% 1%;
  padding: 0;
}

.right-header-div {
  text-align: right;
}

.title {
  font-family: Roboto-Regular;
  font-size: 2.5em;
  margin-right: 0.5em;
  vertical-align: middle;
  font-weight: bold;
  color: #4a4a4a;
}

.divider {
  font-size: 2.5em;
  background-color: black;
}

.button {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.15em;
}

.download-button {
  vertical-align: middle;
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.home {
  margin-left: 1em;
  font-size: 1.15em;
}

.button-icon {
  color: #4a4a4a;
  font-size: 1.75em;
}

.list-item:hover {
  background-color: rgba(0,0,0,0.10);
}

.stepper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stepper-card {
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.stepper-header {
  position: static;
}

.steps-content {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  height: auto;
}

.steps-content-card {
  height: 100%;
  border-radius: 5px;
}

.prepare-dataset {
  width: 100%;
}

.steps-action {
  width: 100%;
}

.footer-buttons {
  float: right;
}

button {
  margin-right: 6px;
}

.alert {
  width: 25%;
  margin: 0 auto;
}

@media only screen and (min-width: 769px) and (max-width: 4000px) {
  .bg-2 {
    height: 0;
  }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .stepper {
    top: 0;
    margin-top: 10em;
    transform: translate(-50%, 0%);
  }
}

@media only screen and (min-width: 510px) and (max-width: 630px) {

  .stepper {
    top: 0;
    margin-top: 10em;
    transform: translate(-50%, 0%);
  }

  .left-header-div {
    font-size: 0.65em;
    padding-left: 15px;
    margin: 0 auto;
  }

  .right-header-div {
    text-align: right;
    font-size: 0.65em;
  }

  .download-button {
    margin-bottom: -0.35em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 510px) {

  .stepper {
    top: 0;
    margin-top: 10em;
    transform: translate(-50%, 0%);
  }

  .left-header-div {
    font-size: 0.6em;
    padding-left: 15px;
    margin: 0 auto;
  }

  .right-header-div {
    text-align: right;
    font-size: 0.6em;
  }

  .download-button {
    font-size: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -0.4em;
  }
}

@media only screen and (min-width: 435px) and (max-width: 480px) {

  .stepper {
    top: 0;
    margin-top: 10em;
    transform: translate(-50%, 0%);
  }

  .header {
    margin-left: 15px;
  }

  .title {
    font-size: 2em;
  }

  .divider {
    font-size: 2em;
  }

  .button {
    font-size: 1em;
    margin-left: 0;
  }

  .job-list-button {
    margin-left: 1em;
  }

  .home {
    font-size: 1em;
    margin-left: 1em;
  }

  .download-button {
    font-size: 0.9em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-bottom: -0.5em;
  }

  .header-download-button {
    font-size: 0.9em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -0.2em;
  }

  .container-name {
    font-size: 1.6em;
    display:table-cell;
    vertical-align:middle;
  }

  .status {
    display:table-cell;
    vertical-align:middle;
    padding-right: 15px;
  }

  .left-header-div {
    font-size: 0.7em;
  }

  .right-header-div {
    font-size: 0.7em;
  }

}

@media only screen and (min-width: 411px) and (max-width: 434px) {

  .stepper {
    top: 0;
    margin-top: 13em;
    transform: translate(-50%, 0%);
  }

  .header {
    margin-left: 10px;
  }

  .title {
    font-size: 1.8em;
  }

  .divider {
    font-size: 1.8em;
  }

  .button {
    font-size: 0.9em;
  }

  .home {
    font-size: 0.9em;
  }

  .left-header-div {
    font-size: 1.7em;
    margin: 0 auto;
  }

  .right-header-div {
    text-align: center;
    font-size: 1.4em;
  }

  .download-button {
    font-size: 0.9em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.4em;
  }

  .steps-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .footer-buttons {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}

@media only screen and (min-width: 380px) and (max-width: 410px) {

  .stepper {
    top: 0;
    margin-top: 13em;
    transform: translate(-50%, 0%);
  }

  .left-header-div {
    font-size: 1.1em;
    padding-left: 15px;
    margin: 0 auto;
  }

  .right-header-div {
    text-align: center;
    font-size: 1em;
  }

  .steps-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .footer-buttons {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}

@media only screen and (min-width: 325px) and (max-width: 380px) {
  .stepper {
    top: 0;
    margin-top: 13em;
    transform: translate(-50%, 0%);
  }

  .left-header-div {
    font-size: 1em;
    padding-left: 15px;
    margin: 0 auto;
  }

  .right-header-div {
    text-align: center;
    font-size: 0.9em;
  }

  .download-button {
    font-size: 1.2em;
  }

  .steps-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .footer-buttons {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}

@media only screen and (min-width: 280px) and (max-width: 325px) {

  .stepper {
    top: 0;
    margin-top: 13em;
    transform: translate(-50%, 0%);
  }

  .left-header-div {
    font-size: 0.8em;
    margin: 0 auto;
    padding-left: 15px;
  }

  .right-header-div {
    text-align: center;
    font-size: 0.7em;
  }

  .download-button {
    margin-bottom: 0em;
  }

  .steps-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .footer-buttons {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}

@media only screen and (min-width: 250px) and (max-width: 280px) {
  .stepper {
    top: 0;
    margin-top: 13em;
    transform: translate(-50%, 0%);
  }

  .left-header-div {
    font-size: 0.8em;
    margin: 0 auto;
    padding-left: 15px;
  }

  .right-header-div {
    text-align: center;
    font-size: 0.7em;
  }

  .download-button {
    margin-bottom: -0.2em;
  }

  .steps-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .footer-buttons {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}

@media only screen and (min-height: 550px) and (max-height: 650px) {
  .bg-1 {
    height: 85%;
  }

  .bg-2 {
    height: 140%;
  }
}

@media only screen and (min-height: 650px) and (max-height: 800px) {
  .bg-1 {
    height: 55%;
  }

  .bg-2 {
    height: 85%;
  }
}

@media only screen and (min-height: 800px) and (max-height: 900px) {
  .bg-1 {
    height: 35%;
  }

  .bg-2 {
    height: 45%;
  }
}

@media only screen and (min-height: 900px) and (max-height: 1024px) {
  .bg-1 {
    height: 75%;
  }

  .bg-2 {
    height: 0%;
  }
}
