<form [formGroup]="FieldControl">

  <div align="center" class="fieldsContainer">
    <div class="configFileContainer">
    <textarea contenteditable="true" [mat-autosize]="true"  formControlName="content">
      </textarea>
    </div>

    <div class="smallFormFieldContainer">
      <mat-form-field class="smallFormField">
        <input type="number" matInput placeholder="Training Steps" formControlName="training_steps" required>
        <mat-error *ngIf="FieldControl.get('training_steps').hasError('required')"> Please enter a Value
        </mat-error>
        <mat-error *ngIf="FieldControl.get('training_steps').hasError('isNotInteger')"> This must be an
          integer
        </mat-error>
        <mat-icon class="help_message_button" matTooltip="The number of training steps">help</mat-icon>
      </mat-form-field>
      <mat-form-field class="smallFormField">
        <input type="number" matInput placeholder="Evaluation Steps"
               formControlName="eval_steps" required>
        <mat-error *ngIf="FieldControl.get('eval_steps').hasError('required')"> Please enter a Value
        </mat-error>
        <mat-error *ngIf="FieldControl.get('eval_steps').hasError('isNotInteger')"> This must be an
          integer
        </mat-error>
        <mat-icon class="help_message_button" matTooltip="The number of evaluation steps">help</mat-icon>
      </mat-form-field>
    </div>
  </div>
</form>
