<!--landing page header-->
<nz-page-header class="site-page-header">
<!--  title-->
  <nz-page-header-title class="header-title">
      TechOffice Munich Object Detection Training GUI
  </nz-page-header-title>
</nz-page-header>

<!--landing page body-->
<div class="bg">
<!--  body text split into two h1 headers with a button below them-->
  <div class="body-text">
<!--    text header 1-->
    <h1 class="body-text-2">
      Your
    </h1>
    <h1 class="body-text-2">object detection</h1>
<!--    text header 2-->
    <h1 class="body-text-2">helper</h1>
<!--    start button-->
    <button class="get-started-button" nz-button nzType="primary" nzShape="circle" routerLink="/jobs">
      <i class="get-started-icon" nz-icon nzType="arrow-right" nzTheme="outline"></i>
    </button>
  </div>


</div>
