body, html {
  height: 100%;
  margin: 0;
}

.site-page-header {
  height: 10%;
  z-index: 1;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #F6F6F8;
}

.header-title {
  line-height: inherit;
  font-family: Roboto-Regular;
  font-size: 2.2vw;
  color: #4A4A4A;
}

/*.site-page-body {*/
/*  height: 90%;*/
/*  background-color: #F6F6F8;*/
/*}*/

/*.svg-div {*/
/*  height: 50%;*/
/*  position: relative;*/
/*}*/

/*.svg-image {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-size: 100% auto;*/
/*}*/

.bg {
  background-image: url("../../../../assets/images/waves-gradient-3.svg");
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #F6F6F8;
  background-repeat: no-repeat;
  position: absolute;
  background-position: bottom;
  background-size: 101%;
}

/*.site-page-header {*/
/*  height: 10%;*/
/*  z-index: 1;*/
/*}*/

/*.header-title {*/
/*  font-family: Comfortaa, serif;*/
/*  position: absolute;*/
/*  font-size: 40px;*/
/*  height: 60px;*/
/*  padding-top: 10px;*/
/*  left: 4%;*/
/*  top: 30%;*/
/*  color: #4A4A4A;*/
/*}*/

.body-text {
  font-family: Roboto-Light;
  font-size: 1.6vw;
  position: absolute;
  left: 53%;
  top: 20%;
  color: #4A4A4A;
}

.body-text-1 {
  margin: 0;
  color: #4A4A4A;
}
.body-text-2 {
  text-align: center;
  margin: 0;
  color: #4A4A4A;
}

.get-started-button {
  height: 5.5vw;
  width: 5.5vw;
  position: relative;
  margin-top: 30px;
  left: 38%;
}

.get-started-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 2.8vw;
}

@media only screen and (min-width: 2500px) and (max-width: 3000px) {
  .body-text {
    top: 10%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-title {
    position: absolute;
    font-size: 35px;
    height: auto;
    padding-top: 10px;
    left: 2%;
    top: 10%;
  }

  .body-text {
    font-size: 25px;
    position: absolute;
    left: 40%;
    top: 25%;
  }

  .get-started-button {
    height: 100px;
    width: 100px;
    position: relative;
    margin-top: 30px;
    left: 35%;
  }

  .get-started-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 50px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
  .header-title {
    position: absolute;
    max-width: 100%;
    width: 95%;
    white-space: normal;
    text-align: center;
    height: fit-content;
    font-size: 25px;
    padding-top: 10px;
    left: 2%;
    top: 10%;
  }

  .body-text {
    font-size: 20px;
    position: absolute;
    left: 40%;
    top: 25%;
  }

  .get-started-button {
    height: 80px;
    width: 80px;
    position: relative;
    margin-top: 30px;
    left: 35%;
  }

  .get-started-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 40px;
  }
}

@media only screen and (min-width: 240px) and (max-width: 450px) {
  .header-title {
    font-size: 18px;
    max-width: 100%;
    width: 95%;
    white-space: normal;
    text-align: center;
    height: fit-content;
    padding-top: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .body-text {
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .body-text-1-1 {
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translate(-50%, -50%);
  }

  .get-started-button {
    height: 75px;
    width: 75px;
    margin-top: 30px;
  }

  @media only screen and (min-width: 240px) and (max-width: 299px) {
    .get-started-button {
      left: 25%;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 375px) {
    .get-started-button {
      left: 28%;
    }
  }

  @media only screen and (min-width: 375px) and (max-width: 425px) {
    .get-started-button {
      left: 30%;
    }
  }

  @media only screen and (min-width: 425px) and (max-width: 450px) {
    .get-started-button {
      left: 33%;
    }
  }

  .get-started-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 35px;
  }
}

.get-started-button:hover .get-started-icon {
  overflow: hidden;
  animation: icon 550ms;
}

@keyframes icon {
  0% {
    transform: translate(-50%, -50%);
  }


  50% {
    opacity: 0;
    transform: translate(150%, -50%);
  }

  75% {
    opacity: 0;
    transform: translate(-150%, -50%);
  }

  90% {
    opacity: 0;
    transform: translate(-100%, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}
