.mainDiv{
  /*font-size: 3em;*/
  /*font-weight: bold;*/
  font-family: Arial, serif;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  padding: 0.5em;
}



h1,h5{
  margin-left: 3%;
  max-width: 90%;
}

h5{
  color: grey;
}

mat-dialog-actions{
  /*float: right;*/
  width: 100%;
}
.buttons{
  font-weight: bold;
  float: right;
  width : 6em;
  height: 3em;
  /*color: black;*/
  background-color: #ececee;
  position: relative;
}
.buttonDiv{
  width: 100%;
  bottom:0;
  height:3em;
}
.yesButton{
  margin-left: 1em;
    background-color:#3f51b5;
  color:white;

}
