div {
  margin: 0;
  padding: 0;
}
.top-buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: lightgrey;
  width: 100%;
  height: 5vh ;
}
#pageTitle {
  color: black;
}

.jobsViewPort {
  height: 88vh;
  min-width: 80vw;
}

.JobDiv {
  min-height: 6vh;
  height: auto;
  position: relative;
  margin: 0.5em auto;
  width: 75% !important;
  display: flex;
  align-items: center;
  background-color: #FEFEFE;
}

.JobDiv .jobButtons {
  position: relative;
  float: right;
  margin: 2px 1em;
  font-size: large;
}

.JobButtonsContainer {
  width: 58%;
  position: relative;
  float: right;
  flex : 3;
}


.JobDiv .JobNameSpan {
  font-family: Arial, serif;
  font-size: x-large;
  font-weight: bold;
  flex: 1;
}

.stopButton {
  position: relative;
  float: right;
}


