<form [formGroup]="FieldControl">
<div align="center" class = "fieldsContainer">
  <mat-form-field class ="bigFormField" *ngIf="true"  >
      <input matInput placeholder="Container Name" formControlName="containerName" required>
      <mat-error *ngIf="FieldControl.get('containerName').hasError('required')"> Please enter a Value</mat-error>
      <mat-error *ngIf="FieldControl.get('containerName').hasError('alreadyExists')"> Container name already taken</mat-error>
    <mat-icon class="help_message_button" matTooltip="Name that will identify the model. A docker container with that name will be created">help</mat-icon>
  </mat-form-field>

  <mat-form-field  class ="bigFormField" *ngIf="true">
    <mat-label> Network Architecture</mat-label>
    <mat-select (ngModelChange)="networkArchitectureChanged()" formControlName="networkArchitecture" required >
      <mat-option *ngFor="let network of networksList" [value]="network" >
        {{network}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="FieldControl.get('networkArchitecture').hasError('required')"> Please select a Value</mat-error>

    <mat-icon class="help_message_button" matTooltip="Network used in the training">help</mat-icon>
  </mat-form-field>
  <div class="smallFormFieldContainer">
    <mat-checkbox [checked]="checkbox" (change)="checkBoxClicked()" [disabled]="checkBoxDisabled"
                  color="primary" class="checkBox">Custom checkpoints</mat-checkbox>
    <mat-icon class="help_message_button checkBoxHelp"
              [matTooltip]=this.tooltipText *ngIf="checkBoxDisabled" style="margin-left: 15vw">help</mat-icon>
    <mat-form-field style="float: left" class ="bigFormField " *ngIf="checkbox">
    <mat-label > CheckPoints Folder</mat-label>
    <mat-select  formControlName="checkPoints" required>
      <mat-option *ngFor="let checkPoint of checkPoints" [value]="checkPoint">
        {{checkPoint}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="FieldControl.get('checkPoints').hasError('required')"> Please select a Value</mat-error>
    <mat-icon class="help_message_button" matTooltip="Checkpoints that can be used as pre-trained weights">help</mat-icon>
  </mat-form-field>
  </div>

  <mat-form-field  class ="bigFormField" *ngIf="true" >
      <mat-label> GPUs</mat-label>
      <mat-select formControlName="gPUs" required>
        <mat-option *ngFor="let gpu of GPUsList" [value]="gpu" >
          GPU {{gpu}}
        </mat-option>
      </mat-select>
    <mat-error *ngIf="FieldControl.get('gPUs').hasError('required')"> Please select a Value</mat-error>
    <mat-icon class="help_message_button" matTooltip="List of GPUs with 25% Usage or Less">help</mat-icon>
  </mat-form-field>

  <div class="smallFormFieldContainer">
  <mat-form-field  class ="smallFormField" *ngIf="true">
      <input type="number" matInput placeholder="Tensorboard Port" formControlName="tensorBoard" maxlength="5" minlength="4" required>
    <mat-error *ngIf="FieldControl.get('tensorBoard').hasError('required')"> Please enter a Value</mat-error>
    <mat-error *ngIf="FieldControl.get('tensorBoard').hasError('isNotInteger')"> This must be an integer</mat-error>
    <mat-error *ngIf="FieldControl.get('tensorBoard').hasError('alreadyAllocatedPort')">Port already allocated</mat-error>
    <mat-error *ngIf="FieldControl.get('tensorBoard').hasError('duplicatePort')">Can't be same as api port</mat-error>
    <mat-error *ngIf="FieldControl.get('tensorBoard').hasError('isNotInRange')">Port out of range (range : 1025 -> 65535)</mat-error>
    <mat-icon class="help_message_button" matTooltip="Port That Will be Used for Tensorboard (cannot be the
same as API Port)">help</mat-icon>
  </mat-form-field>
    <mat-form-field  class ="smallFormField" *ngIf="true">
      <input type="number" matInput placeholder="API Port" formControlName="APIPort" maxlength="5" minlength="4" required>
      <mat-error *ngIf="FieldControl.get('APIPort').hasError('required')"> Please enter a Value</mat-error>
      <mat-error *ngIf="FieldControl.get('APIPort').hasError('isNotInteger')"> This must be an integer</mat-error>
      <mat-error *ngIf="FieldControl.get('APIPort').hasError('alreadyAllocatedPort')">Port already allocated </mat-error>
      <mat-error *ngIf="FieldControl.get('APIPort').hasError('duplicatePort')">Can't be same as tensorboard port</mat-error>
      <mat-error *ngIf="FieldControl.get('APIPort').hasError('isNotInRange')">Port out of range (range : 1025 -> 65535)</mat-error>

      <mat-icon class="help_message_button" matTooltip="Port that will be used for the training API (cannot be the
same as Tensorboard Port)">help</mat-icon>
    </mat-form-field>
  </div>
</div>
</form>
