
.bigFormField{
  width: 70vw;
  font-size:  x-large;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left : auto;
  margin-right: auto;
  clear: both;
}

.checkPointField{
  width: 50vw;
  right: 0;
}
.checkBox{
  /*width: 30vw;*/
  /*max-width: 16em;*/
  /*margin-right: 200px;*/
}

.help_message_button{
  float: left;
  position: absolute;
}

.checkBoxHelp {
    left : 67.5vw
}

.smallFormFieldContainer{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width : 70vw;
  flex-wrap: wrap;
  margin-top: fill;
}

.smallFormField{
  float: left;
  position: relative;
  width: 45%;
  font-size:  x-large;
}

.fieldsContainer{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 55vh;
  width : inherit;
  flex-wrap: wrap;
  margin-top: fill;
  flex-direction: column;
}



.footer{
  width: 85%;
  position: relative;
  height: auto;
  padding-right: 20%;
}
.footer .formControlButtons{
  float:right;
  margin: 2%;
}
