<div>
  <div id="main">
    <div class="header" fxLayout="row" fxLayoutGap="1vw">
      <mat-label fxFlex="90" id="pageTitle"><p class="titleClass">{{pageTitle}}</p></mat-label>

      <div fxFlex="3" *ngIf="this.link !== 'training'">
        <button mat-icon-button matTooltip="Running Jobs" alt="Running Jobs"
                style="color:white" mat-button  [matMenuTriggerFor]="running" (click)="getRunningJobs() ">
          <mat-icon>assignment</mat-icon>
        </button>
        <mat-menu #running="matMenu" class="runningJobList">
          <div *ngFor="let job of runningJobs">
            <a mat-menu-item> {{job}} </a>
            <mat-divider></mat-divider>
          </div>
          <a mat-menu-item *ngIf="runningJobs.length===0" style="color:lightgrey" disabled> No Running Jobs
            at this Moment</a>
        </mat-menu>
      </div>

      <div fxFlex="auto" *ngIf="this.link !== 'training'" style="width: fit-content">
        <button mat-icon-button
                style="color:white" mat-button  [matMenuTriggerFor]="runningData" matTooltip="Recap Button">
          <mat-icon>data_usage</mat-icon>
        </button>
        <mat-menu #runningData="matMenu">
          <a mat-menu-item><b>Job Name </b>&nbsp;|&nbsp; {{this.JobService.runningJobName.value}}</a>
          <a mat-menu-item><b>Dataset Folder </b>&nbsp;|&nbsp; {{this.JobService.runningDatasetFolder.value}}</a>
<!--          <mat-divider></mat-divider>-->
          <a mat-menu-item ><b>Network Architecture </b>&nbsp;|&nbsp; {{this.JobService.runningNetworkArchitecture.value}}</a>
        </mat-menu>
      </div>


  </div>
    <div></div>
    <div id="subMain">
      <div id="mainBox">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
      <!--        <button mat-fab class="createNewJobButton routingButtons" routerLink="newJob" color="primary" *ngIf="link=='training'" > + </button>-->
    </div>
  </div>
</div>

