
.bigFormField{
  width: 70vw;
  font-size:  x-large;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left : auto;
  margin-right: auto;
  clear: both;
}
.help_message_button{
  float: right;
  position: absolute;
  /*margin-top: 6vh;*/
}

.smallFormFieldContainer{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width : 70vw;
  flex-wrap: wrap;
  margin-top: fill;
  /*flex-direction: column;*/
}

.smallFormField{
  float: left;
  position: relative;
  width: 45%;
  font-size:  x-large;

}

.fieldsContainer{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 55vh;
  width : inherit;
  flex-wrap: wrap;
  margin-top: fill;
  flex-direction: column;
}


.footer{
  width: 85%;
  position: relative;
  height: auto;
  padding-right: 20%;
}
.footer .formControlButtons{
  float:right;
  margin: 2%;
}
