mat-horizontal-stepper {
  height: 100%;
  background-color: transparent;
}
.ButtonsDiv{
  width: 100%;
  height: 20%;
  position: relative;
  bottom: 0;
  /*background-color: red !important;*/
}
.nextButton{
  float: right;
  position: relative;
  margin-right: 10vw;
}
.backButton{
  float: right;
  position: relative;
  margin-right: 0.5vw;
}
.cancelButton{
  float: right;
  position: relative;
  margin-right: 0.5vw;
}
.AdvancedButton{
  float: right;
  position: relative;
  margin-right: 1vw;
  /*background-color: whitesmoke;*/
}
.formStepper{
  visibility: hidden;
}
.homeButton{
  float: right;
  position: relative;
  margin-right: 0.5vw;
}
